**/bin/
**/obj/
**/.vs/
**/*.user
**/TestResults/
**/Logs/
**/Log/
**/appsettings.Development.json
**/appsettings.Testing.json
Dockerfile
.dockerignore
.git/
.gitignore
.github/
SchemaStar.Tests/
SchemaStar.IntegrationTests/
