@import 'tailwindcss';

.heading-form-title{
    @apply text-3xl font-extrabold text-center text-zinc-800 mb-6;
}
.label-form{
    @apply  text-lg font-medium text-zinc-800 mr-4;
}
.input-form{
    @apply w-full px-4 py-3 text-zinc-600 rounded-lg border border-purple-400;
}
.input-form-focus{
    @apply  focus:outline-teal-300 focus:ring-2 focus:ring-blue-500 focus:border-transparent transition;
}