@import 'tailwindcss';

.auth-btn{
    @apply w-45 bg-purple-400 hover:bg-purple-700 hover:shadow-sm hover:shadow-slate-100 text-zinc-100 font-semibold py-3 rounded-lg shadow-md transition-all duration-200 text-center;
}