<app-schema-toolbar [container]="flowContainer"></app-schema-toolbar>

<div #flowContainer class="w-full h-screen border-2 border-slate-700 bg-purple-100 p-2 relative">
  <app-schema-quick-toolbar [container]="flowContainer"></app-schema-quick-toolbar>
  <app-node-palette></app-node-palette>
  <!-- Flow Root Container -->
  <f-flow
    fDraggable
    class="h-full w-full relative"
    (fMoveNodes)="flowStateService.handlesNodesMovement($event)"
    (fCreateConnection)="onCreateConnection($event)"
    (fSelectionChange)="flowStateService.handleSelectionChange($event)"
    (fCreateNode)="onCreateNode($event)"
  >
    <!-- Allows Box Selection Area  -->
    <f-selection-area></f-selection-area>
    <!-- Background -->
    <f-background>
      <f-rect-pattern></f-rect-pattern>
    </f-background>

    <f-canvas fZoom (fCanvasChange)="schemaUiStateService.onZoomChange($event)">
      <!-- Allow Creation of Edges/Connections -->
      <f-connection-for-create fBehavior="floating" fType="straight"></f-connection-for-create>
      <!-- Edges/Connections -->
      @for (edge of flowStateService.flowEdges(); track edge.id) {
        <f-connection [fConnectionId]="edge.id" [fOutputId]="edge.source" [fInputId]="edge.target">
        </f-connection>
      }

      <!-- Nodes -->
      @for (node of flowStateService.flowNodes(); track node.id) {
        <div
          fNode
          [fNodeId]="node.id"
          [fNodePosition]="node.position"
          class="relative bg-white border-2 border-zinc-900 p-4 rounded shadow-lg cursor-move group/node"
        >
          <!-- Drag Handle Area/Space -->
          <div
            fDragHandle
            class="w-full h-full p-4 flex items-center justify-center cursor-move text-center"
          >
            <!-- Node Name -->
            <div class="font-bold border-b mb-2">{{ node.data.nodeName }}</div>

            <!-- Node Assets -->
            <div class="text-sm space-y-1">
              @for (asset of node.data.NodeAssets; track asset.publicId) {
                <div class="text-blue-600">
                  {{ asset.nodeAssetName }}
                </div>
              }
            </div>
          </div>

          <!-- Connectors (I/O)-->
          <div
            fNodeInput
            [fInputId]="node.id"
            fInputConnectableSide="auto"
            fNodeOutput
            [fOutputId]="node.id"
            [fOutputMultiple]="true"
            fOutputConnectableSide="auto"
            class="clip-path no-drag absolute -inset-2 rounded-lg border-2 border-transparent group-hover/node:border-purple-400 group-hover/node:bg-purple-500/5 transition-all duration-150 z-50 cursor-crosshair"
          ></div>
        </div>
      }
    </f-canvas>
  </f-flow>
</div>
