<app-schema-toolbar></app-schema-toolbar>

<div #flowContainer class="w-full h-screen border-2 border-slate-700 bg-purple-100 p-2 relative">
  <app-schema-quick-toolbar [container]="flowContainer"></app-schema-quick-toolbar>
  <!-- Example Use of Foblex Flow -->
  <f-flow
    fDraggable
    class="h-full w-full relative"
    (fMoveNodes)="flowStateService.handlesNodesMovement($event)"
    (fCreateConnection)="onCreateConnection($event)"
    (fSelectionChange)="flowStateService.handleSelectionChange($event)"
  >
    <!-- Background -->
    <f-background>
      <f-rect-pattern></f-rect-pattern>
    </f-background>

    <f-canvas fZoom (fZoomChange)="schemaUiStateService.onZoomChange($event)">
      <!-- Edges/Connections -->
      @for (edge of flowStateService.flowEdges(); track edge.id) {
        <f-connection [fConnectionId]="edge.id" [fOutputId]="edge.source" [fInputId]="edge.target">
        </f-connection>
      }

      <!-- Nodes -->
      @for (node of flowStateService.flowNodes(); track node.id) {
        <div
          fNode
          fDragHandle
          [fNodeId]="node.id"
          [fNodePosition]="node.position"
          class="relative bg-white border-2 border-zinc-900 p-4 rounded shadow-lg cursor-move"
        >
          <!-- Node Name -->
          <div class="font-bold border-b mb-2">{{ node.data.nodeName }}</div>

          <!-- Node Assets -->
          <div class="text-sm space-y-1">
            @for (asset of node.data.NodeAssets; track asset.publicId) {
              <div class="text-blue-600">
                {{ asset.nodeAssetName }}
              </div>
            }
          </div>
          <!-- Connectors (I/O)-->
          <div
            fNodeInput
            [fInputId]="node.id"
            fInputConnectableSide="left"
            class="absolute -left-2 top-1/2 w-4 h-4 bg-zinc-800 rounded-full"
          ></div>
          <div
            fNodeOutput
            [fOutputId]="node.id"
            fOutputConnectableSide="right"
            class="absolute -right-2 top-1/2 w-4 h-4 bg-zinc-800 rounded-full"
          ></div>
        </div>
      }
    </f-canvas>
  </f-flow>
</div>
